
@{
   ViewBag.Title = "About";
}

<h2>About</h2>
<h1><strong>Zadanie testowe &ndash; Ideo</strong></h1>
<hr />
<p>Zadanie polega na oprogramowaniu mechanizmu zarządzania strukturą drzewiastą wraz z implementacją poprawnej obsługi formularzy.</p>
<ol><li> Założenia co do technologii:</li></ol>
<ul>
    <li>baza danych MSSQL/MySQL,</li>
    <li>ASP.NET / MVC,</li>
    <li>HTML 5, CSS 3.</li>
    <li>
</ul>
<p>&nbsp;</p>

<ol><li> Założenia dotyczące realizacja zadania:</li></ol>
<ul>
    <li>struktura drzewiasta ma umożliwiać działanie na dowolnej ilości poziom&oacute;w,</li>
    <li>funkcje jakie mają być dostępne dla administratora: dodawanie, edycja, usuwania, sortowanie (zar&oacute;wno węzł&oacute;w jak i liści), przenoszenie węzł&oacute;w do innych gałęzi,</li>
    <li>powinna być możliwość rozwinięcia całej struktury lub wybranych węzł&oacute;w,</li>
    <li>powinny zostać zastosowane zabezpieczenia uniemożliwiające wprowadzanie nieprawidłowych danych,</li>
    <li>wskazane zastosowanie skrypt&oacute;w client-side (własnych, nie gotowych rozwiązań jak np. jsTree)</li>
    <li>obsługa formularzy powinna zawierać klasę do generowania formularzy wraz z wizualizacją, walidacją oraz zabezpieczeniami.</li>
    <li>
</ul>
<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
<ul>
    <li>funkcje jakie mają być dostępne dla administratora: <s>dodawanie</s>, <s>usuwania</s>, sortowanie (zar&oacute;wno węzł&oacute;w jak i liści)</li>
    <li>powinna być możliwość rozwinięcia całej struktury lub wybranych węzł&oacute;w,</li>
    <li>powinny zostać zastosowane zabezpieczenia uniemożliwiające wprowadzanie nieprawidłowych danych,</li>
    <li>wskazane zastosowanie skrypt&oacute;w client-side (własnych, nie gotowych rozwiązań jak np. jsTree)</li>
    <li>obsługa formularzy powinna zawierać klasę do generowania formularzy wraz z wizualizacją, walidacją oraz zabezpieczeniami.</li>
</ul>
<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
